<div class="future-tax__wrapper">
  <%= render 'shared/company-menu' %>
  <p class="future-tax__title">法人税予測・一覧</p>
  <div class="future-tax__new">
    <%= link_to new_company_future_tax_path, class:"future-tax__new__btn" do %>
      <i class="fa fa-caret-right"></i> 新規登録
    <% end %>
  </div>
  <div class="future-tax__contents">
    <% @taxes.each do |tax| %>
    <div class="future-tax__contents__flex">
      <div class="edit-delete-btns">
        <div class="edit-btn-wrapper">
          <%= link_to "#", method: :get, class:"edit-btn" do %>
          <i class="fas fa-edit"></i><span>編集</span>
          <% end %>
        </div>
        <div class="delete-btn-wrapper">
          <%= link_to "#", method: :delete, class:"delete-btn" do %>
          <i class="fas fa-trash-alt"></i><span>削除</span>
          <% end %>
        </div>
      </div>
      <div class="future-tax-info">
        <div>NO.<%= tax.id %></div>
        <div>売上：<%= tax.sales.to_s(:delimited) %>万円</div>
        <div>営業利益率：<%= tax.profit_rate %>%</div>
        <div>営業利益：<%= tax.operating_profit.to_s(:delimited) %>万円</div>
        <div>固定費：<%= tax.fix_cost.to_s(:delimited) %>万円</div>
        <div>経常利益：<%= tax.ordinary_profit.to_s(:delimited) %>万円</div>
      </div>
      <div class="future-tax-result"><p>法人税合計</p><%= tax.company_tax_all.to_s(:delimited) %>円</div>
      <div class="future-tax-result"><p>法人税</p><%= tax.company_tax.to_s(:delimited) %>円</div>
      <div class="future-tax-result"><p>法人住民税</p><%= tax.company_resident_tax.to_s(:delimited) %>円</div>
      <div class="future-tax-result"><p>事業税</p><%= tax.business_tax.to_s(:delimited) %>円</div>
      <div class="future-tax-result"><p>地方法人税</p><%= tax.local_company_tax.to_s(:delimited) %>円</div>
      <div class="future-tax-result"><p>特別法人事業税</p><%= tax.special_business_tax.to_s(:delimited) %>円</div>
    </div>
    <% end %>
  </div>
</div>