<div class="schedule__wrapper">
  <%= render 'shared/company-menu' %>
  <p class="schedule__title">納税スケジュール・一覧</p>
  <div class="schedule__new">
    <%= link_to new_company_schedule_path, class:"schedule__new__btn" do %>
      <i class="fa fa-caret-right"></i> 新規登録
    <% end %>
  </div>
  <div class="schedule__contents">
    <% @schedules.each do |schedule| %>
      <div class="schedule__contents__flex">
        <div class="edit-delete-btns">
          <div class="edit-btn-wrapper">
            <%= link_to "/companies/#{@company.id}/schedules/#{schedule.id}/edit", method: :get, class:"edit-btn" do %>
            <i class="fas fa-edit"></i><span>編集</span>
            <% end %>
          </div>
          <div class="delete-btn-wrapper">
            <%= link_to "/companies/#{@company.id}/schedules/#{schedule.id}", method: :delete, class:"delete-btn" do %>
            <i class="fas fa-trash-alt"></i><span>削除</span>
            <% end %>
          </div>
        </div>
        <div class="schedule-info">
          <div>事業年度：<%= schedule.settle_year %>年<%= schedule.settle_month %>月期</div>
          <div>法人税：<%= schedule.company_tax  %>万円</div>
          <div>消費税：<%= schedule.consumption_tax  %>万円</div>
        </div>
        <div class="schedule-tax-pay">
          法人税・消費税の納付期限は<br><%= schedule.settle_payment_year %>年<%= schedule.settle_payment_month %>月末です
        </div>
        <% if schedule.company_tax >= 10 %>
        <div class="schedule-tax-pay">
          法人税の中間納付期限は<br><%= schedule.center_payment_year %>年<%= schedule.center_payment_month %>月末です
        </div>
        <% else %>
        <div class="schedule-tax-pay">
          法人税の中間納付はありません。
        </div>
        <% end %>
        <% if schedule.consumption_tax <= 48 %>
        <div class="schedule-tax-pay">
          消費税の中間納付はありません。
        </div>
        <% elsif schedule.consumption_tax > 48 && schedule.consumption_tax <= 400 %>
        <div class="schedule-tax-pay">
          消費税の中間納付期限は<br><%= schedule.center_payment_year %>年<%= schedule.center_payment_month %>月末です。
        </div>
        <% else %>
        <div class="schedule-tax-pay">
          消費税の1回目の中間納付期限は<br><%= schedule.first_payment_year %>年<%= schedule.first_payment_month %>月末です。
        </div>
        <div class="schedule-tax-pay">
          消費税の2回目の中間納付期限は<br><%= schedule.center_payment_year %>年<%= schedule.center_payment_month %>月末です。
        </div>
        <div class="schedule-tax-pay">
          消費税の3回目の中間納付期限は<br><%= schedule.third_payment_year %>年<%= schedule.third_payment_month %>月末です。
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>